---
import Layout from '../layouts/Layout.astro';
import Main from '../components/home/Main.astro';

import '../styles/global.css';

// Importing the default SEO and location schema
import { allServicesSchema } from '../data/js/seo/servicesSchemaSEO.js';
---

<Layout>
  <main class="flex h-full items-center justify-center">
    <h1>Coming soon</h1>
  </main>
</Layout>

<style>
  @reference "tailwindcss";
  h1 {
    @apply text-9xl;
  }
</style>
